<div class="opi-form bg-light p-3 mt-4 rounded-lg">
  <%= render "devise/shared/error_messages", resource: @opinion %>

Write something
<%= form_with(model: @opinion, local: true) do |form| %>
  <div class='col-md-6'>
  <div class="field col-md-4">
    <%= form.text_field :content%> 
    <span class="image-upload">
      <%= form.file_field :image, accept: "image/jpeg,image/gif,image/png,image/jpg" %>
    </span>
    <%= form.submit class:'btn btn-primary rounded mt-2' %>
  </div>
  </div>
<% end %>
</div>
</div>
<script type="text/javascript">

  $("#opinion_image").bind("change", function() {
    const size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
        alert("Maximum file size is 5MB. Please choose a smaller file.");
          $("#opinion_image").val("");
      }
  });
  
</script>