<%= form_with(model: opinion, local: true) do |form| %>
  <% if opinion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opinion.errors.count, "error") %> prohibited this opinion from being saved:</h2>

      <ul>
        <% opinion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='offset-md-4 col-md-4'>
  <div class="field col-md-4">
    <%= form.text_area :content%> 

  <div class="btn btn-default mt-2">
    <%= form.submit class:'btn btn-primary rounded' %>
  </div>
  </div>
  </div>
<% end %>
