<p id="notice"><%= notice %></p>
<div class='nav'>
  <%if user_signed_in?%>
    <%= render 'users/stats'%>
    <%= link_to 'New Opinion', new_opinion_path %>
    <%= link_to 'Log out', destroy_user_session_path, method: :delete%>
  <%else%>
    <%= link_to 'Sign up', new_user_registration_path %>
    <%= link_to 'Log in', new_user_session_path %>
  <%end%>
</div>

<h1>Opinions</h1>
<div>
  <div>
    <div>
      <div>Content</div>
      <div>User</div>
      <div colspan="3"></div>
    </div>
  </div>

  <div>
    <% @opinions.each do |opinion| %>
      <div>
        <div><%= opinion.content %></div>
        <div><%= opinion.user_id %></div>
        <div><%= link_to 'Show', opinion %></div>
        <div><%= link_to 'Edit', edit_opinion_path(opinion) %></div>
        <div><%= link_to 'Destroy', opinion, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
  </div>
</div>

<br>

