<p id="notice"><%= notice %></p>
<%=render 'layouts/header'%>
<%@opinions.each do |opinion|%>
<div>
  <strong>Content:</strong>
  <%= opinion.content %>
</div>

<div>
  <strong>User:</strong>
  <%= @user.username %>
</div>
<% end %>

<%= link_to 'Edit', edit_opinion_path(@opinion), class:'btn btn-primary mr-2'%>
<%= link_to 'Back', opinions_path, class:'btn btn-danger' %>
