<% if user_signed_in?%>
  <%= render 'layouts/header'%>
<%end%>

<div class="col-md-4 offset-md-4 mb-5">
<h1 class="center">Edit your profile </h1>
</div>


<div class="col-md-4 offset-md-4">


<%= form_with(model: @user, local: true) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>
<%= f.label :username %>
<%= f.text_field :username, class: 'form-control' %>
<%= f.label :email %>
<%= f.email_field :email, class: 'form-control' %>
<%= f.label :password %>
<%= f.password_field :password, class: 'form-control' %>
<%= f.label :password_confirmation, "Confirmation" %>
<%= f.password_field :password_confirmation, class: 'form-control' %>
<%= f.submit "Save changes", class: "btn btn-primary" %>
    <%= link_to 'Back', opinions_path, class:'btn btn-danger' %>
<% end %>
</div>