<%=render 'layouts/header'%>
<%= render 'stats'%>
<%= render 'follow_form' if user_signed_in?%>

<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.username %>
            </h1>
        </section>

    </aside>
</div>

<div class="row">
    <div class="col-md-6 p-3 mt-2 mx-auto rounded ">
        <% @user.opinions.most_recent.each do |opinion| %>
        <div class="mt-2 mb- bg-light p-4 rounded">
            <%= image_tag opinion.display_image if opinion.image.attached? %>
            <div class="card-body">
                <%= opinion.content%>
            </div>
        <div class="mt-2">
        <%= time_ago_in_words(opinion.created_at)%> ago
        </div>
        </div>
        <%end%>
    </div>
</div>