<%=render 'layouts/header'%>

<div class="cover mb-2">
    <div class="cover-image">
        <%= image_tag(@user.cover.attachment) if @user.cover.attached?%>
    </div>
</div>

    <aside class="col-md-6 offset-md-3 mt-4 rounded bg-light">
        
        <section class="user_info p-2">
            <%=render 'user_count' %>
            <%= render 'follow_form'%>
            <%= render 'stats' %>
        </section>

    </aside>


    <div class="col-md p-3 mt-2 mx-auto rounded ">
    <%if current_user == @user%>
     <%= render 'opinions/form', opinion: @new_opinion %>
     <%end%>
        <% @user_opinion.each do |opinion| %>
        <div class="col-md-6 offset-md-3 mt-2 mb-2 bg-light p-4 rounded">
            <div class="card-body">
            <div class="mb-2">
                <%= gravatar_for opinion.user %>
                <%= opinion.user.username %>

            </div>
                <h1 class="mt-2 text-center mb-4 bg-light">
                    <%= opinion.content%>
                </h1>
                <div class="d-flex justify-content-center">
                    <%= image_tag opinion.display_image if opinion.image.attached? %>
                </div>
            </div>
        <div class="mt-2">
        <%= time_ago_in_words(opinion.created_at)%> ago
        </div>
            <%if current_user == @user%>
            <%= link_to 'Edit', edit_opinion_path(opinion), class:'btn btn-primary mr-2'%>
            <span><%= link_to 'Destroy', opinion, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger mr-2' %></span>
            <%end%>

        </div>
        <%end%>
    </div>
