<nav class="navbar sticky-lg-top navbar-expand-lg navbar-dark bg-dark mb-2">
  <%if user_signed_in?%>
    <div class="container-fluid d-flex">
      <div class="nav-menu-list">
        <ul class="navbar-nav">
          <li class="nav-item">
              <%= link_to "Home", opinions_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
              <%= link_to 'New Opinion', new_opinion_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Hello,#{current_user.username}", current_user, class: 'nav-link' %>
          </li>
          <li>
          <div class="nav-stats">
              <%= render 'users/stats'%>
          </div>
          </li>
      </div>
            <div class="nav-setting d-flex ml-auto">
              <div>
                <%= link_to "Settings", edit_user_path(current_user), class:'btn btn-light mr-2'%>
              </div>
              <div>
                  <%= link_to 'Log out', destroy_user_session_path, class: 'btn btn-light', method: :delete%>
              </div>
            </div>
    <%else%>
            <li>
              <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-light mr-2 nav-link' %>
            </li>
            <li>
              <%= link_to 'Log in', new_user_session_path, class: 'btn btn-light nav-link'%>
            </li>
            <%end%>
        </ul>
  </div>
</nav>